<table>
<tr>
    <th></th>
    <th class="center">A</th>
    <th class="center">B</th>
    <th class="center">C</th>
    <th class="center">D</th>
    <th class="center">E</th>
    <th class="center">F</th>
    <th class="center">G</th>
    <th class="center">H</th>
</tr>
<tr>
    <td class="center">8</td>
    <td *ngFor="let item of fields[0]"><div [class.fieldC]="item.color==2" [class.fieldB]="item.color==1"><input type="button" value="{{item.sign}}" [class.input]="item.val==0" [class.inputBlack]="item.val==2" [class.inputWhite]="item.val==1"></div></td>
    <td class="center">8</td>
</tr>
<tr>
    <td class="center">7</td>
    <td *ngFor="let item of fields[1]"><div [class.fieldC]="item.color==2" [class.fieldB]="item.color==1"><input type="button" value="{{item.sign}}" [class.input]="item.val==0" [class.inputBlack]="item.val==2" [class.inputWhite]="item.val==1"></div></td>
    <td class="center">7</td>
</tr>
<tr>
    <td class="center">6</td>
    <td *ngFor="let item of fields[2]"><div [class.fieldC]="item.color==2" [class.fieldB]="item.color==1"><input type="button" value="{{item.sign}}" [class.input]="item.val==0" [class.inputBlack]="item.val==2" [class.inputWhite]="item.val==1"></div></td>
    <td class="center">6</td>
</tr>
<tr>
    <td class="center">5</td>
    <td *ngFor="let item of fields[3]"><div [class.fieldC]="item.color==2" [class.fieldB]="item.color==1"><input type="button" value="{{item.sign}}" [class.input]="item.val==0" [class.inputBlack]="item.val==2" [class.inputWhite]="item.val==1"></div></td>
    <td class="center">5</td>
</tr>
<tr>
    <td class="center">4</td>
    <td *ngFor="let item of fields[4]"><div [class.fieldC]="item.color==2" [class.fieldB]="item.color==1"><input type="button" value="{{item.sign}}" [class.input]="item.val==0" [class.inputBlack]="item.val==2" [class.inputWhite]="item.val==1"></div></td>
    <td class="center">4</td>
</tr>
<tr>
    <td class="center">3</td>
    <td *ngFor="let item of fields[5]"><div [class.fieldC]="item.color==2" [class.fieldB]="item.color==1"><input type="button" value="{{item.sign}}" [class.input]="item.val==0" [class.inputBlack]="item.val==2" [class.inputWhite]="item.val==1"></div></td>
    <td class="center">3</td>
</tr>
<tr>
    <td class="center">2</td>
    <td *ngFor="let item of fields[6]"><div [class.fieldC]="item.color==2" [class.fieldB]="item.color==1"><input type="button" value="{{item.sign}}" [class.input]="item.val==0" [class.inputBlack]="item.val==2" [class.inputWhite]="item.val==1"></div></td>
    <td class="center">2</td>
</tr>
<tr>
    <td class="center">1</td>
    <td *ngFor="let item of fields[7]"><div [class.fieldC]="item.color==2" [class.fieldB]="item.color==1"><input type="button" value="{{item.sign}}" [class.input]="item.val==0" [class.inputBlack]="item.val==2" [class.inputWhite]="item.val==1"></div></td>
    <td class="center">1</td>
</tr>
<tr>
    <th></th>
    <th class="center">A</th>
    <th class="center">B</th>
    <th class="center">C</th>
    <th class="center">D</th>
    <th class="center">E</th>
    <th class="center">F</th>
    <th class="center">G</th>
    <th class="center">H</th>
</tr>
</table>