<div class="container">
    <table>
        <tr>
            <th></th>
            <th class="center">A</th>
            <th class="center">B</th>
            <th class="center">C</th>
            <th class="center">D</th>
            <th class="center">E</th>
            <th class="center">F</th>
            <th class="center">G</th>
            <th class="center">H</th>
        </tr>
        <tr *ngFor="let row of fields">
            <td class="center">{{8-fields.indexOf(row)}}</td>
            <td *ngFor="let item of row">
                <div [class.fieldC]="item.color==2" [class.fieldB]="item.color==1" [class.fieldClick]="item.click">
                    <input type="button" *ngIf="item.val==0" class="input" [disabled]="!item.active" (click)="move(item)">
                    <input type="button" *ngIf="item.val==2 && item.type=='king'" class="inputPiece blackKing" [disabled]="!item.active" (click)="move(item)">
                    <input type="button" *ngIf="item.val==2 && item.type=='queen'" class="inputPiece blackQueen" [disabled]="!item.active" (click)="move(item)">
                    <input type="button" *ngIf="item.val==2 && item.type=='bishop'" class="inputPiece blackBishop" [disabled]="!item.active" (click)="move(item)">
                    <input type="button" *ngIf="item.val==2 && item.type=='knight'" class="inputPiece blackKnight" [disabled]="!item.active" (click)="move(item)">
                    <input type="button" *ngIf="item.val==2 && item.type=='rook'" class="inputPiece blackRook" [disabled]="!item.active" (click)="move(item)">
                    <input type="button" *ngIf="item.val==2 && item.type=='pawn'" class="inputPiece blackPawn" [disabled]="!item.active" (click)="move(item)">
                    <input type="button" *ngIf="item.val==1 && item.type=='king'" class="inputPiece whiteKing" [disabled]="!item.active" (click)="move(item)">
                    <input type="button" *ngIf="item.val==1 && item.type=='queen'" class="inputPiece whiteQueen" [disabled]="!item.active" (click)="move(item)">
                    <input type="button" *ngIf="item.val==1 && item.type=='bishop'" class="inputPiece whiteBishop" [disabled]="!item.active" (click)="move(item)">
                    <input type="button" *ngIf="item.val==1 && item.type=='knight'" class="inputPiece whiteKnight" [disabled]="!item.active" (click)="move(item)">
                    <input type="button" *ngIf="item.val==1 && item.type=='rook'" class="inputPiece whiteRook" [disabled]="!item.active" (click)="move(item)">
                    <input type="button" *ngIf="item.val==1 && item.type=='pawn'" class="inputPiece whitePawn" [disabled]="!item.active" (click)="move(item)">
                </div>
            </td>
            <td class="center">{{8-fields.indexOf(row)}}</td>
        </tr>
        <tr>
            <th></th>
            <th class="center">A</th>
            <th class="center">B</th>
            <th class="center">C</th>
            <th class="center">D</th>
            <th class="center">E</th>
            <th class="center">F</th>
            <th class="center">G</th>
            <th class="center">H</th>
        </tr>
    </table>
</div>

<app-dialog [(visible)]="this.dialog">
    <h1>{{state}}</h1><br>
    <span *ngIf="this.prom"><input *ngFor="let str of specialPieces" type="button" value="{{str}}" [class.inputBlack]="!game.turn.color" [class.inputWhite]="game.turn.color" (click)="promotion(str)"></span>
    <form *ngIf="this.log" >
        Login: <input type="text" name="nickname" value="" #nickname><br>
        Hasło: <input type="password" name="password" value="" #password><br>
        <input type="button" value="Zaloguj" (click)="login(nickname.value, password.value)">
      </form>
    <button *ngIf="!this.prom && !this.log" (click)="close()" class="btn">Close</button>
</app-dialog>