.fieldB{
    height: 100px;
    width: 100px;
    background-color:#E8E8E8;
    color: white;
    border-style: solid;
    border-color: black;
    text-align: center;
}

.fieldC{
    height: 100px;
    width: 100px;
    background-color: #656565;
    color: white;
    border-style: solid;
    border-color: black;
    text-align: center;
}

.blackKing
{
    background: url('../../assets/images/blackKing.png') no-repeat;
}

.blackQueen
{   
    background: url('../../assets/images/blackQueen.png') no-repeat;
}

.blackBishop
{
    background: url('../../assets/images/blackBishop.png') no-repeat;
}

.blackKnight
{
    background: url('../../assets/images/blackKnight.png') no-repeat;
}

.blackRook
{
    background: url('../../assets/images/blackRook.png') no-repeat;
}

.blackPawn
{
    background: url('../../assets/images/blackPawn.png') no-repeat;
}

.whiteKing
{
    background: url('../../assets/images/whiteKing.png') no-repeat;
}

.whiteQueen
{   
    background: url('../../assets/images/whiteQueen.png') no-repeat;
}

.whiteBishop
{
    background: url('../../assets/images/whiteBishop.png') no-repeat;
}

.whiteKnight
{
    background: url('../../assets/images/whiteKnight.png') no-repeat;
}

.whiteRook
{
    background: url('../../assets/images/whiteRook.png') no-repeat;
}

.whitePawn
{
    background: url('../../assets/images/whitePawn.png') no-repeat;
}

.inputPiece
{
    cursor:pointer;
    border:none;
    width:100px;
    height:100px;
    position: center;
    margin: -3px -20px;
}

.fieldClick{
    height: 100px;
    width: 100px;
    background-color: yellowgreen;
    color: white;
    border-style: solid;
    border-color: black;
    text-align: center;
}

.input
{
  width: 90px;
  height: 90px;
  border-radius: 50%;
  font-size: 50px;
  color: white;
  font-size: 20px;
  text-align: center;
  background: transparent;
  border:none;
  margin: 2px 2px;
}

.center{
    text-align: center;
    font-weight: bold;
}

table {
    margin: 0 auto;
}

.black {
    background: black;
    color: white;
    border: solid;
    border-color: grey;
    height: 200px;
    width: 520px;
    text-align:  center;
    font-weight: bold;
    vertical-align: middle;
    position: relative;
    float: left;
    top: 0%;
    left: 0%;
}

.white {
    background: white;
    color: black;
    border: solid;
    border-color: grey;
    height: 200px;
    width: 520px;
    text-align:  center;
    font-weight: bold;
    vertical-align: middle;
    position: relative;
    float: left;
    top: 0%;
    left: 0%;
}

.table {
    border-collapse: collapse;
    width: 100%;
}

.th, .td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.trWhite:hover{background-color:#f5f5f5}

.trBlack:hover{
    background-color:#050505;
    color:#f5f5f5;
}
.trYellow:hover{background-color: #4A4A4A}

